.div-center {
    display: flex;
    text-align: center;
    margin: 50px;    
}

.td-image{    
    width: 50%;    
}

.div-frame-photo{
    padding-left: 20%;
}

.div-inline {
    display: flex;
    align-content: center;
    margin: 5px;
}

.td-text {
    width: 50%;
    vertical-align: top;
    padding: 30px;
}

.p-1 {
    font-size: 30px;    
    margin-left: 80px;
    margin-right: 80px;
    background-color: lavender;
}

li {
    font-size: 30px; 
}

.drink-name{
    padding-bottom: 3%;
    font-size: 40px;
}

.ul-block {
    display:inline-block;    
    padding-right: 5px;
    background-color: lavender;

}

.topics-description {
    font-size: 40px;
}

.p-2 {
    font-size: 30px;    
}

.div-block {
    width: 80%;
    text-align: center;
    display: block;
}